@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700)
@import url(http://fonts.googleapis.com/css?family=PT+Serif+Caption)

verde = #749801
azul = #01587d
html
  background verde
  font-family: 'Lato'
  font-weight: 300
  font-size: 24px
  line-height: 125%
  color: #5e5e5e

body
  margin 0
  background verde
    

header
  background linear-gradient(to bottom, rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 1%,rgba(239,239,239,0.9) 95%,rgba(238,238,238,0.9) 100%)
  border-top 3px solid verde
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.2);
  color white
  position fixed
  top 0
  width 100%
  z-index 999
  .container
    padding 0 20px
    .btnPortafolio
      float right
  h2
    font-size 1.2em
    font-weight 400
    color verde
  .logo
    width 41px
    float left
    margin -7px 7px 0 0
    -webkit-transition:transform 0.2s ease
    -moz-transition:transform 0.2s ease 
    transition:transform 0.2s ease
    &:hover
      -webkit-transform rotateY( 180deg )
      -moz-transform rotateY( 180deg )
      transform:rotateY( 180deg )

.btnPortafolio
  background rgba(116,152,1,0.55)
  border 1px solid verde
  border-radius 2px
  color #fff
  font-size 0.75em
  font-weight 300
  margin -15px 10px
  padding 12px 32px
  text-align center
  text-decoration none
  text-transform uppercase
  transition background 0.2s  ease
  -webkit-transition background 0.2s  ease
  -moz-transition background 0.2s  ease
  -webkit-box-shadow 0px 8px 5px 0px rgba(50, 50, 56, 0.55)
  -moz-box-shadow    0px 8px 5px 0px rgba(50, 50, 56, 0.55)
  box-shadow         0px 8px 5px 0px rgba(50, 50, 56, 0.55)
  &:hover
    background rgba(116,152,1,0.9)
    box-shadow 0 3px 5px rgba(0,0,0,0.3)

article
  max-width 1400px
  position relative
  width 100%
  z-index 2
h1 h2 h3 h4
  font-weight 400
  line-height 125%
  
h3
  color #fff
  font-size 2em
  font-weight 700
  letter-spacing .2em
  text-transform uppercase
p
  line-height 140%

a
  background: transparent
  text-decoration none
  color verde
  transition background .1s ease
  -webkit-transition background .1s ease
  -moz-transition background .1s ease
  &:hover
    background rgba(125,164,0,0.2);

blockquote
  font-family: 'PT Serif Caption', serif;
  font-size 1.35em
  font-weight 400
  line-height 165%
  
::selection
  background rgba(125,164,0,0.2);

::-moz-selection
  background rgba(125,164,0,0.2);

  
.presentacion
  position fixed
  text-align center
  top 80px
  width 100%
  background #01587d url('../img/presentacion.jpg') no-repeat center center
  -moz-background-size cover
  -o-background-size cover
  -webkit-background-size cover
  article
    margin 0 auto
    max-width 100%
    position static
    width auto
  h1
    color #fff
    font-size 3.3em
    font-weight 400
  p
    color verde
    font-size 1.75em
    font-weight 300
    line-height 125%
    margin 0 40px 20px 40px
    margin 0 90px 0 90px
    padding 8px 10px 12px 8px
  .box-presentacion
    width 100%
    position absolute
    top 40%
.circulo
  
  border 1px solid rgba(255,255,255,0.3)
  border-radius 999999px
  bottom 40px
  display block
  height 60px
  left 50%
  margin-left -30px
  position absolute
  transition background 0.2s ease
  width 60px
  z-index 2
  -moz-transition background 0.2s ease
  -webkit-transition background 0.2s ease
  -o-transition background 0.2s ease
  &:hover
    background rgba(255,255,255,0.1)
    border-color rgba(255,255,255,0.5)
.flecha
  
  animation arrowbounce 1.5s ease infinite
  border-left 10px solid transparent
  border-right 10px solid transparent
  border-top 14px solid rgba(255,255,255, 0.25)
  height 0
  left 20px
  position absolute
  top 22px
  transition top 0.2s ease
  -moz-animation arrowbounce 1.5s ease infinite
  -moz-transition top 0.2s ease
  -webkit-animation arrowbounce 1.5s ease infinite
  -webkit-transition top 0.2s ease
  -o-animation arrowbounce 1.5s ease infinite
  -o-transition top 0.2s ease
  
  width 0
@-webkit-keyframes arrowbounce
  0%
    top:26px
    border-top-color:rgba(255,255,255,0.25)
  
  50%
    top:22px
    border-top-color:rgba(255,255,255,0.18)
  
  100%
    top:26px
    border-top-color:rgba(255,255,255, 0.25)
  
@-moz-keyframes arrowbounce
  0%
    top:26px
    border-top-color:rgba(255,255,255,0.25)

  50%
    top:22px
    border-top-color:rgba(255,255,255,0.18)

  100%
    top:26px
    border-top-color:rgba(255,255,255, 0.25)
    
@-o-keyframes arrowbounce
  0%
    top:26px
    border-top-color:rgba(255,255,255,0.25)

  50%
    top:22px
    border-top-color:rgba(255,255,255,0.18)

  100%
    top:26px
    border-top-color:rgba(255,255,255, 0.25)
  

    
@keyframes arrowbounce
  0%
    top:26px;
    border-top-color:rgba(255,255,255,0.25)
  
  50%
  top:22px;
  border-top-color:rgba(255,255,255,0.18)
  
  100%
  top:26px;
  border-top-color:rgba(255,255,255,0.25)
  

  
.about
  background white
  float left
  position relative
  .profile
    border-radius 50%
    display block
    height 224px
    margin 8% auto 2% auto
    position relative
    width 259px
  blockquote
    margin 0
    padding 0 25% 8% 25%
    position relative
    text-align center
  p
    opacity 0

.more:before
  content " "
  display table

.more:after 
  content " "
  display table


.slider
 // background-image:url('../img/bcg_slide-1.jpg')
  display block
  float: left
  height 400px
  padding-top 150px
  position relative
  width 100%
  z-index 2
 // padding 100px 0 100px 0
  h3
    text-align center
    opacity 0
  .pProyecto 
    color #002a3d
    font-family 'PT Serif Caption'
    font-size 1.5em
    font-weight 400
    opacity 0
.pProyecto:after
    content ""
    background verde
    position relative
    width 200px
    height 6px
    display block
    margin 50px auto 20px auto
  
  p
    text-align center

#overlay
  display none
  position fixed
  z-index 999
  width 100%
  height 100%
  background rgba(0,42,61,0.7)
  overflow scroll
  cursor pointer
  transform traslatez(0)
  -webkit-transform translatez(0)
  img
    display block
    margin 0 auto
    max-width 100%
  ul
    list-style none
    padding 0
    li
      display none
  p
    display none
  .continue
    padding: 20px 101px;
    margin 60px 20%
    background #fff  
.trabajos
  background azul
  display block
  float: left
  height 100%
  padding-top 150px
  position relative
  width 100%
  z-index 2
  padding 100px 0 100px 0
  .bloque-trabajo
    padding 0
    margin 60px 8% 0 8%
  h3
    text-align center
    opacity 0
  .pProyecto 
    color #002a3d
    font-family 'PT Serif Caption'
    font-size 1.5em
    font-weight 400
    opacity 0
.pProyecto:after
    content ""
    background verde
    position relative
    width 200px
    height 6px
    display block
    margin 50px auto 20px auto
  p
    text-align center
.work
  width 47%
  height 47%
  text-align center
  position relative
  text-align center
  display inline-block
  margin 1.5%
  float left
  opacity 0
  .mascara
    background: rgba(125,164,0,0.2);
    width 100%
    height 100%
    position absolute
    transition all 0.4s ease-in
    transform scale(0) rotate(-180deg)
    -webkit-transform scale(0) rotate(-180deg)
    opacity 0
    top 0
    left 0
  h4
    opacity 0
    color #fff
    transition all 0.4s ease-in-out
  p
    opacity 0
    color #fff
    transition all 0.4s ease-in-out
  img
    width 100%
    height 100%
    opacity 1
    transition all 0.4s ease-in-out 0.2s
.work
  &:hover 
    .mascara 
      opacity: 1
      -webkit-transform: scale(1) rotate(0deg)
      -moz-transform: scale(1) rotate(0deg)
      -o-transform: scale(1) rotate(0deg)
      transform: scale(1) rotate(0deg)
      -webkit-transition-delay: 0.2s
      -moz-transition-delay: 0.2s
      -o-transition-delay: 0.2s
      -ms-transition-delay: 0.2s
      transition-delay: 0.2s
.work
  &:hover 
    img 
       -webkit-transform scale(0)
       -moz-transform scale(0)
       -o-transform scale(0)
       transform scale(0)
       opacity 0
       -webkit-transition-delay 0s
       -moz-transition-delay 0s
       -o-transition-delay 0s
       transition-delay 0s

.work 
  &:hover h4,
  &:hover p
    opacity: 1
    -webkit-transition-delay 0.5s
    -moz-transition-delay 0.5s
    -o-transition-delay 0.5s
    -ms-transition-delay 0.5s
    transition-delay 0.5s

.contact
  background #fff
  width 100%
  height 100%
  padding 100px 0
  position relative
  z-index 2
  float left
  .contact_email
    color #002a3d
    font-family 'PT Serif Caption'
    font-size 1em
    font-weight 400
    opacity 0
  h3
    color #749801
    opacity 1
  ul
    li
      float left
      list-style none
      width 17%
      margin 0 1%
      a
        width 100%
        &.twitter
          &:hover
            background-color #55acee
        &.git
          &:hover
            background-color #171515
            color #fff 
        &.blog
          &:hover
            background-color #ea4c89
        &.linkedin
          &:hover
            background-color #0e76a8
        &:hover
          color #002a3d
        

.button
  color #fff
  padding 20px 0px
  background verde
  width 100%      
  float left
  text-align center
    
@media only screen and (max-width: 800px)
  .work 
    width 96%
    margin 2% 
  .contact
    ul
      li
        width auto
        margin 10px 1%
        a
          padding 12px 28px
          width auto

    

@media only screen and (max-width : 1200px)
  .presentacion
    h1
      margin-left 0
      margin-right 0
      line-height 86%
      
     p
      margin 0
      font-size 1em
    
  .about
    blockquote
      padding-left 2%
      padding-right 2%

      

@media only screen and (max-width : 600px)
  body
    font-size 16px
  
  header
    .container
      padding 0 10px
  .btnPortafolio
    font-weight 400
      
  article
    width 96%
  .presentacion
    background: #01587d url("../img/presentacion.jpg") no-repeat left center;
    h1
      font-size 2.6em
    p
      margin 0
      font-size 1.3em
    .box-presentacion
      width 91%
      margin 0 2%
    
  .about
    .profile
      height 100px
      width 150px
    blockquote
      padding-left 2%
      padding-right 2%
